*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: inherit;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 250px);
}

.card{
    text-align: center;
    padding: 5px;
    margin: 15px;
    box-shadow: 10px 5px 5px rgb(88, 83, 85);
    border: 0.1px solid;
}
